body{
    margin-top: .5in;
    background-color: #FAFAFA;
}

td{
    color: #888888;
    vertical-align: top;
}

#newPlayer, #startingAmount{
    width: 100px;
    max-width: 100px;
    margin-left: -8px;
}

#newPlayerDiv{
    background-color: #54A759;
    padding: 2em;
    width: 100%;
    border-radius: 20px;
}

#newPlayerList{
    text-align: center;
    font-size: 2em;
}

#gamePanel{
    display: none;
    text-align: center;
    width: 100%
}

#playerPanel{
    text-align: right;
    vertical-align: top;
}

.playerDiv{
    padding-bottom: .75em;
    padding-right: .75em;
    font-size: 2em;
    cursor: pointer;
}

.playerDollars{
    width: 90px;
    border: none;
    background-color: #FAFAFA;
    cursor: pointer !important;
}

#buttonAddMoney, #buttonSubtractMoney, #buttonAdd200, #buttonClear, #dollarsAddSubtract {
    margin-left: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    width: 80px;
}

#dollarsAddSubtract{
    width: 75px;
    display: inline;
}

#currency{
    height: 100%;
    margin-left: .25in;
}

.bill{
    text-align: center;
    background-color: #54A759;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    font-size: 1.5em;
    color: white;
}

#gameTable{
    margin: 0 auto;
}

#activityLog{
    width: 300px;
    vertical-align: top;
    padding-left: 15px;
    height: 400px;
    overflow-y: scroll;
    font-weight: bold;
    line-height: 1.5em;
    border: solid 1px #cccccc;
    border-radius: 10px;
    margin-left: 25px;
}

#activityLogCell{
    padding-left: 15px;
    overflow: hidden;
}

.draggable, .droppable{
    padding: 5px;
    display: inline;
}

.tooltip > .tooltip-inner{
    padding: 10px;
    background-color: #86C98A;
    color: #333333;
    font-weight: bold;
}

.tooltip.top > .tooltip-arrow {
    border-top: 5px solid #86C98A;
}

.tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid #86C98A;
}

.tooltip.right > .tooltip-arrow {
    border-right: 5px solid #86C98A;
}

.tooltip.left > .tooltip-arrow {
    border-left: 5px solid #86C98A;
}

#uiConfig{
    text-align: right;
    margin-top: 5px;
}

.colorRed{
    color: red;
}

.colorGreen{
    color: green;
}

.inactiveChevron, .activeChevron{
    font-size: 18px;
    vertical-align: middle;
    width: 20px;
}

.inactiveChevron{
    color: lightgray;
    cursor: pointer;
}

.activeChevron{
    color: #54A759;
}

.startGameElement, .newPlayerFormControl {
    display: inline;
}

hr {
    border-color: #86C98A;
}

#btnNewGame {
    position: fixed;
    top: 10;
    left: 10;
}

#tdInput {
    vertical-align: middle;
}

.tdButtons {
    text-align: center;
}

#controlsTable{
    margin-bottom: 10px;
}

label {
    white-space: nowrap;
}

.nopadding {
   padding-right: 0 !important;
    padding-left: 0 !important;
    //margin: 0 !important;
}