body{
    margin: 5%
}

td{
    color: #888888;
}

#newPlayer{
    width: 150px;
    margin-left: .5em;
    margin-right: .5em;
}

#startingAmount{
    width: 100px;
    margin-left: .5em;
    margin-right: .5em;
}

#newPlayerDiv{
    background-color: lightblue;
    height: 9em;
}

#newPlayerForm{
    padding: 2em;
}

#newPlayerList{
    font-size: 2em;
    margin-left: 1in;
    margin-top: .5in;
}

#gamePanel{
    display: none;
    margin-top: .5in;
    text-align: center;
    width: 100%
}

#playerPanel{
    text-align: right;
    vertical-align: top;
}

.playerDiv{
    padding: .75em;
    font-size: 2em;
}

.playerDollars{
    width: 100px;
    border: none;
    background-color: white;
}

.buttonAddMoney, .buttonSubtractMoney, .buttonAdd200{
    margin-left: 5px;
}

.dollarsAddSubtract{
    width: 100px;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-left: .5em;
}

#currency{
    height: 100%;
    margin-left: .25in;
}

.bill{
    text-align: center;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    font-size: 1.5em;
    color: darkgreen;
}

#gameTable{
    margin: 0 auto;
}

#btnStartGame{
    margin-left: .5em;
    margin-top: 10px;
}

#activityLog{
    width: 300px;
    vertical-align: top;
    padding-left: 15px;
    height: 400px;
    overflow-y: scroll;
    margin-right: -22px;
}

#activityLogCell{
    overflow: hidden;
}